<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
    <title>{{title}}</title>

       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" type="text/css">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
   <!-- <link rel='stylesheet' href='/stylesheets/style.css' />-->
  </head>
  <body>
  <section class="ui container">
      {{{body}}}
  </section>
  </body>
</html>
